body {
    color:white;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: red;
}

.tabela img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #b30600;
}

.nomeDaniel,.nomeGeovana {
    text-align: center;
}


footer img {
    width: 40px;
    height: 40px;
}
footer {
    display: flex;
    justify-content: center;
}
footer a {
    margin: 16px;
    text-align: center;
}
footer p {
    margin-top: 2px;
}

.tabela {
    margin: auto;
    width: 66%;
}

.container {
    padding: 0px 50px;
}

.rocket {
    margin: auto;
    width: 20%;
    display: block;
}
.satisfactory,.phasmophobia,.elitedangerous,.dontstarvetogether,.legobatman {
    margin: auto;
    width: 30%;
    display: block;
}

.tabela-pagina-1 {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.Desc-Rocket,.Desc-Satis,.Desc-Phasmo,.Desc-ED,.Desc-DST {
    font-size: large;
}


.topicos {
    color:white;
    text-align: center;
    background-color: blue;
}

.bom,.adolescentes,.I5,.Bugs-aceitaveis,.gratis,.desafiador,.min20,.historia,.casual,.espera-promo,.ate-enjoar,.perfeito,.maniaco,.preco,.voce-escolhe,.tem-historia,.arte,.dezoito,.TI,.prat-n-tem,.notebook,.dark-souls,.historia-ate-q-boa,.divino,.cria,.energia,.tao-perfeito,.skin,.cabeca,.skyrim,.livro {
    background-color: green;
}

.Inicial {
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 0px 50px;
}
.Inicial2 {
    padding: 0px 50px;
}